.form-wrapper {
    background: #ccc;
    color: #000;
}

.term-group-header {
    margin-bottom: 1rem;
}

.contract-main-wrapper {
    font-weight: bold;
    border: 1px solid #ccc;
    padding: 1rem 2rem;
    min-height: 35px;
    line-height: 35px;
    color: #fff;
    margin-bottom: 2rem;
    text-transform: uppercase;
    background: #002d56;
    cursor: pointer;
}

.contract-main-wrapper.demo {
    margin-bottom: 0;
}

.contract-main-wrapper.demo .demo-row {
    padding: 0.5rem 0;
}

.contract-main-wrapper .contract-title {
    font-weight: bold;
    user-select: none;
}

.contract-main-wrapper .contract-description {
    font-weight: normal;
    color: #fff;
    padding-left: 1rem;
    user-select: none;
}

.inactive input {
    pointer-events: none;
    opacity: 0.7;
}

.item-header {
    cursor: pointer;
    user-select: none;
}

.text-left {
    padding-left: 2.5rem;
}

.text-left input.mr-2 {
    margin-right: 2rem;
}
