.items-group {
    margin-bottom: 1rem;
}

.item .tool-tip .tool-tip-copy {
    left: initial;
    right: 0;
    transform: initial;
}

.item-header {
    font-weight: bold;
    border: 1px solid #ccc;
    padding: 1rem 2rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    min-height: 35px;
    line-height: 35px;
    color: #002d56;
}

.item-fields {
    max-width: 100%;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 1.3rem;
    padding: .35rem .8rem;
    display: block;
    width: 100%;
}

.item-labels {
    font-size: 1.1rem;
    width: 100%;
    display: block;
    padding-left: .45rem;
    color: #015289;
}

.input-container {
    padding: .5rem 1.5rem .5rem .5rem;
}

.item:hover .tool-tip {
    opacity: 1;
}

.input-wrapper {
    position: relative;
}

.term-wrapper .row {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 1rem;
}

.choices.required{

}
.choices.optional{
    border-left: 2px dotted rgb(209, 209, 209, 1);
    padding-left: 2.5rem;
}

/*Medium Up*/
@media screen and (min-width: 641px){
    .item .tool-tip .tool-tip-copy {
        right: initial;
        left: 50%;
        transform: translateX(-50%);
    }
    
    .item:nth-child(3n) .tool-tip .tool-tip-copy {
        left: initial;
        right: 0;
        transform: initial;
    }
}