.contract-wrapper{
    padding: 1rem;
}
.contract-content {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 2rem 1rem;
    text-align: center;
}
.contract-grid{
    width: 80%;
}
.contract-link{
    font-weight: bold;
    font-size: 1.3rem;
    margin-bottom: .5;
    display: block;
}

@media screen and (min-width:641px){
    .contract-link{
        font-weight: bold;
        font-size: 2rem;
        margin-bottom: 1rem;
    }
}