.section-title {
    padding: 1rem 2rem 1rem 0;
    border-bottom: 1px solid #83d54d;
    border-radius: 5px;
    font-size: 26px;
}

.section-description {
    padding: 1.5rem 0;
}

.section-intro {
    font-size: 1.6rem;
    font-weight: 400;
    text-align: center;
    font-style: oblique;
    padding: 1rem;
}
