.section-title {
    padding: 1rem 2rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #fff;
    font-size: 26px;
    background: #1a6395;
    font-weight: bold;
}

.section-description {
    padding: 1.5rem 0;
}